*{
    margin: 0;
    padding: 0;
}

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: none;
  font-style: normal;
}

body{
    background-color: #F1F1F3;
}

/* Common CSS */

.primary-btn-a{
    text-decoration: none;
}

.primary-btn{
    padding: 15px 30px;
    background-color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.primary-btn:hover{
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
}


.primary-heading{
    font-weight: bold;
    font-size: 40px;
}
.primary-bold-p{
    font-weight: bold;
    font-size: 20px;
    padding: 24px 0px 12px 0px;
    color: rgba(14, 14, 14, 0.8);
}

.primary-p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}



/* navigation CSS part */

nav{
    display: flex;
    justify-content: space-between;
    padding: 31px 160px;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
}

.btn-sign-in{
    text-decoration: none;
}

.nav-btn{
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
}

.nav-btn:hover{
    padding: 15px 30px;
    background-color: #006A50;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}


/* banner section */


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;
    height: 560px;
}

.banner .banner-content{
    width: 622px;
    margin-left: 60px;
}

.banner-img{
    margin-right: 60px;
}

.greetings{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-title{
    font-weight: bold;
    font-size: 56px;
    padding: 16px 0px 20px 0px;
}

/* Pillars section css */

.pillars{
    margin: 80px 160px;
}
.pillars-heading{
    padding-bottom: 30px;
}

.pillars-card{
    display: flex;
    gap: 24px;
}

.card{
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 16px;
}

/* Vision section CSS */

.vision-card{
    display: flex;
    gap: 24px;
}

.card-b-01{
    background-color: rgba(84, 144, 245, 0.2);
    width: 410.67px;
}
.card-b-02{
    background-color: rgba(198, 228, 214, 1);
    width: 410.67px;
}

.card-b-03{
    background-color: rgba(247, 235, 207, 1);
    width: 410.67px;
}

.pillars-p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    padding-bottom: 32px;
}

.card-p{
    padding-bottom: 48px;
}

.card-btn-a{
    text-decoration: none;
}

.common-section-btn{
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.common-section-btn:hover{
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
}

.card-btn-01{
    background-color: #5490F5;
    border: 1px solid #5490F5;;
    color: #FFFFFF;
    margin-top: 32px;
}

.card-btn-01:hover{
    border: 1px solid #5490F5;
    color: #5490F5;
}

.card-btn-02{
    background-color: #09A15C;
    border: 1px solid #09A15C;
    color: #FFFFFF;
    margin-top: 32px;
}

.card-btn-02:hover{
    border: 1px solid #09A15C;
    color: #09A15C;
}

.card-btn-03{
    background-color: #FFC239;
    border: 1px solid #FFC239;
    color: #FFFFFF;
    margin-top: 32px;
}

.card-btn-03:hover{
    border: 1px solid #FFC239;
    color: #FFC239;
}

/* yunus Section css */

.yunus{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 24px 24px;
    margin: 0px 160px 0px 160px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px 24px;
}

.yunus-bold-p{
    font-weight: bold;
    font-size: 20px;
    padding: 12px 0px 4px 0px;
    color: rgba(14, 14, 14, 0.8);
}

/* Opinion */

.opinion{
    margin: 80px 160px;
}

.question-part{
    background-color: #FFFFFF;
    padding: 32px;
    margin-top: 24px;
    border-radius: 16px;
}

.question-table{
    width: 100%;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
    text-align: left;
}

.question-table th{
    border: none;
    background-color: #C6E4D6;
    padding: 24px;
}

.question-table h4{
    font-size: 20px;
    font-weight: 600;
}

.question-table td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
}

.question-table td p{
    font-weight: 600;
    font-size: 16px;
    color: rgba(14, 14, 14, 1);
    margin-right: 150px ;
}

.question-table .btn{
    padding: 10px 14px;
    background-color: #C6E4D6;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 45px;
    cursor: pointer;
}

.question-table .btn:hover{
    padding: 10px 14px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 45px;
    cursor: pointer;
}




/* Recent news */

.recent-news{
    margin: 80px 160px;
}

.news-p{
    padding: 24px 0px 32px 0px;
}

.satellite{
    display: flex;
    gap: 32px;
    align-items: center;
    background-color: #FFFFFF;
    padding: 48px;
    border-radius: 24px;
}

.satellite-img{
    border-radius: 24px;
}

.satellite-content-h{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}

.aljazeera{
    padding: 12px 0px;
}

.satellite-p{
    padding: 12px 0px 32px 0px;
}

/* Satelite 02 css */

.satellite-02{
    display: flex;
    gap: 32px;
    align-items: center;
    background-color: #FFFFFF;
    padding: 48px;
    border-radius: 24px;
    flex-direction: row-reverse;
    margin: 24px 0px;
}

/* donate section css */


.donate{
    margin: 80px 264px;
    text-align: center;
}

.donate-p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    padding: 24px 0px 32px 0px;
}

.inp-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp-btn input{
    background-color: #FFFFFF;
    width: 1032px;
    padding: 20px 40px;
    margin-bottom: 32px;
    border: 0px solid;
    font-size: 20px;
    outline-color: #09A15C;
    text-align: center;
}
.inp-btn input::placeholder{
    color: rgba(14, 14, 14, 0.3);
}

.taka{
    display: flex;
    justify-content: space-around;
    padding-bottom: 32px;
}

.taka-card{
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.taka-card:hover{
    background-color: #C6E4D6;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    cursor: pointer;
}

.card-backgound{
    background-color: #C6E4D6;
}

.taka-heading{
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
}

/* subscribe Section css */

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C6E4D6;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;
    height: 395px;
}

.sub-box{
    width: 750px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sub-p{
    padding: 16px 0px 24px 0px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.search-btn{
    display: flex;
    gap: 0px;
    padding-bottom: 24px;
}

.search-btn input{
    background-color: #FFFFFF;
    width: 500px;
    padding: 18px 40px;
    border: 0px solid;
    font-size: 16px;
    outline-color: #09A15C;
    border-radius: 8px 0px 0px 8px;
}
.search-btn input::placeholder{
    color: rgba(14, 14, 14, 0.3);
}

.sub-button{
    padding: 15px 30px;
    background-color: #006A50;
    border: none;
    border-radius: 0px 8px 8px 0px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}
.sub-button:hover{
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
}

/* footer section */

footer{
    background-color: #FFFFFF;
    height: 226px;
}

.bangladesh{
    height: 226px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

hr{
    width: 1122px;
    margin: 32px 0px;
}
.social-media{
    display: flex;
    gap: 23px;
}

.bangladesh-title{
    font-weight: bold;
    font-size: 32px;
}


